*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
}

img{
    vertical-align: middle;
}

header > h1{
    display: inline-block;
    vertical-align: middle;
}

main{
    background-color: rgba(245,247,248,255);
    padding-top: 50px;
    padding-bottom: 50px;
}

main > div{
    width: 70%;
    margin: auto;
}

#btnContainer{
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-left: 50px;
}

div#btnContainer > div{
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

#btn1{
    color: white;
    background-color: rgba(58,168,240,255);
    border: none;
}

#btn2{
    color: rgba(217,221,224,255);
    background-color: white;
    border: 1px solid rgba(217,221,224,255);
}

.btn{
    border-radius: 5px;
    padding: 5px;
}

#ulContainer{
    background-color: white;
    margin-top: 3px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 50px;
}

div#ulContainer > div{
    height: 100%;
    
}

#listaPrincipale{
    list-style-position: inside;
    list-style-type: disclosure-open;
}

h2{
    display: inline;
}

ul{
    list-style-type: none;
}

.liSecondari{
    margin-top: 15px;
}

.entity{
    font-size: 10px;
    border-radius: 50%;
    padding: 3px;
    vertical-align: middle;
}

.entityVerde{
    color: rgba(93,190,166,255);
    border: 1px solid rgba(93,190,166,255);
}

.entityRosso{
    color: rgba(231,59,51,255);
    border: 1px solid rgba(231,59,51,255);
}

h3{
    display: inline;
    vertical-align: middle;
}

.rettangolino{
    color: white;
    border-radius: 10px;
    padding: 5px;
    vertical-align: middle;
}

.liPrincipali{
    margin-top: 20px;
}

.azzurro{
    background-color: rgba(58,168,240,255);
}

.viola{
    background-color: rgba(161,122,229,255);
}

.verde{
    background-color: rgba(93,190,166,255);
}

.arancio{
    background-color: rgba(242,156,45,255);
}

.lilla{
    background-color: rgba(214,94,158,255);
}

.verdeChiaro{
    background-color: rgba(173,199,31,255);
}